table{
    width: 80%;
    border-collapse: collapse;
}
th , td{
    border: 2px solid purple;
    padding: 10px;
}
h2{
    color: mediumvioletred;
    text-align: center;
    font-family: "Candara Light";

}
